<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.cmu.edu.weamobile" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="sv.cmu.edu.weamobile.SettingsActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="sv.cmu.edu.weamobile.service.WEABackgroundService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name="sv.cmu.edu.weamobile.service.AlarmBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name="sv.cmu.edu.weamobile.service.SMSBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <activity
            android:name="sv.cmu.edu.weamobile.MainActivity"
            android:label="@string/title_alert_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sv.cmu.edu.weamobile.AlertDetailActivity"
            android:label="@string/title_alert_detail"
            android:parentActivityName="sv.cmu.edu.weamobile.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sv.cmu.edu.weamobile.AlertListActivity" />
        </activity>

        <receiver
            android:name="sv.cmu.edu.weamobile.service.BootupBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name="sv.cmu.edu.weamobile.NewAlertBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
    </application>

</manifest>
